
.uploaded-products {
  background-color: lightblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;

  .card-container {
    margin: 0;
    // display: flex;
    // flex-direction: vertical;
    background-color: lightgreen;
  }
}