@import '../../theme/theme.scss';

* {
  box-sizing: inherit;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: $core-font;
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: start;
  align-items: center;
}