$primary: #FFFFFF;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #2a3747;
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #A1A1A1;
$on-secondary: #fff;

$background: #FA4141;
$background-dark: rgb(37, 32, 46);

$primary-green: #46A810;
$light-green: #D7FF6B;